# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Byte-compiled / distribution files
*.egg
*.egg-info/
dist/
build/
*.wheel

# VS Code / IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
